.icon-wrapper .icon,
.icon-wrapper .more::after,
.icon-wrapper .more:not(.icon-before)::after,
.icon-wrapper .icon-before::before,
.icon-wrapper .icon-after::after {
    position: relative;
}

.icon-after::after,
.more::after {
    top: -0.08em;
}
.icon.icon-after.icon-playcircle::after,
.section-ipad-hero #fcp-lp-ipad .icon-after::after,
.icon.icon-after.icon-playsolid::after,
.icon.icon-after.icon-arkit::after {
    top: 0;
}

.icon.icon-after.icon-playcircle::after {
    top: 0;
    padding-top: 0.3em;
}

.section-compare .buy .quicklook-component .icon-after::after{
    padding-left: 0;
}

.custom-medium {
    display: none;
}

@media only screen and (max-width: 1390px) {
    .custom-medium {
        display: block;
    }
}

br.small-345 {
    display: none;
}

@media only screen and (max-width: 345px) {
    br.small-345 {
        display: block;
    }
}

br.custom-small {
    display: none;
}
@media only screen and (min-width: 484px) and (max-width: 500px) {
    br.custom-small {
        display: block;
    }
}
@media only screen and (max-width: 400px) {
    br.custom-small {
        display: block;
    }
}

@media only screen and (max-width: 1101px){
    br.none-1101{
        display: none;
    }
}

@media only screen and (max-width: 1068px){
    br.none-1101{
        display: block;
    }
}

/* Apple Arcade Modal */
#arcade-tryitfree .link:hover,
.arcade-modal.modal .modal-notify-wrapper .links-stacked .link:hover {
    text-decoration: none;
}

/* ATV */
.apple-tv-plus-router.fp-tile-2:nth-child(2n+1) {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
}

/* Trade in */
.fp-tile.promo-tile.trade.fp-tile-2:nth-child(2n+1)  {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
}

.section-trade-acmi .promo-copy,
.section-trade-acmi .trade .promo-headline,
.section-trade-acmi .trade .promo-headline+p {
    width: 100%;
    max-width: 100%;
}

.section-trade-acmi .trade .promo-headline+p {
    max-width: 390px;
    margin: 21px auto;
}

@media only screen and (max-width: 1068px) {
    .section-trade-acmi .trade .promo-headline,
    .section-trade-acmi .trade .promo-headline+p {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .trade .promo-headline,
    .section-trade-acmi .trade .promo-headline+p {
        width: 100%;
        max-width: 100%;
    }
}

.section-trade-acmi .section-content.fp-tile.banner-container.promo-tile {
    width: auto;
    max-width: 1440px;
    padding: 0 30px;
    box-sizing: border-box;
}

.section-trade-acmi .banner-container.promo-tile.trade.progressive-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .banner-container.promo-tile.trade.progressive-image {
        flex-direction: column-reverse;
    }
}

.section-trade-acmi .promo-copy {
    margin-top: auto;
}

.section-trade-acmi .trade .promo-copy-wrapper {
    margin-bottom: 0;
}

.section-trade-acmi .promo-image-wrapper {
    padding-top: 90px;
    padding-bottom: 70px;
}

.section-trade-acmi .trade .promo-headline {
    max-width: 434px;
}

@media only screen and (max-width: 1068px) {
    .section-trade-acmi .promo-image-wrapper {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .section-trade-acmi .trade .promo-headline {
        max-width: 434px;
    }
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .promo-image-wrapper {
        margin: 0 auto;
        padding-bottom: 0;
    }

    .section-trade-acmi .trade .promo-headline {
        max-width: 320px;
    }

    .section-trade-acmi .trade .promo-headline + p {
        max-width: 320px;
    }
}

.section-trade-acmi .trade .promo-image {
    margin-left: -18px;
}

@media only screen and (max-width: 1240px) {
    .section-trade-acmi .trade .promo-image {
        margin-left: -108px;
    }
}

@media only screen and (max-width: 1068px) {
    .section-trade-acmi .trade .promo-image {
        margin-left: -128px;
    }
}

@media only screen and (max-width: 1068px) {
    .section-trade-acmi .trade .promo-headline + p {
        max-width: 100%;
    }
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .trade .promo-headline + p {
        max-width: 320px
    }
}

/* ipad-pro */
.section-ipad-pro .typography-hero-eyebrow {
    display: inline-flex;
    align-items: center;
    margin-top: 0;
    margin: auto;
}

.section-ipad-pro .image-pro-chip {
    position: relative;
}

.hero-section .typography-body {
    margin-top: 10px;
}

/* compare */
.section-compare .tagline.ipad-10-2 .typography-compare-tagline {
    max-width: 100%;
}

.section-compare .tagline {
    padding: 0;
}

/* trade in */
.section-trade-acmi .section-content.fp-tile.banner-container.promo-tile {
    width: auto;
    max-width: 1440px;
    padding: 0 30px;
    box-sizing: border-box;
}

.section-trade-acmi .banner-container.promo-tile.trade.progressive-image {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .banner-container.promo-tile.trade.progressive-image {
        flex-direction: column-reverse;
    }
}

.section-trade-acmi .promo-copy {
    margin-top: auto;
}

.section-trade-acmi .trade .promo-copy-wrapper {
    margin-bottom: 0;
}

.section-trade-acmi .promo-image-wrapper {
    padding-top: 90px;
    padding-bottom: 70px;
}

@media only screen and (max-width: 1068px) {
    .section-trade-acmi .promo-image-wrapper {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .section-trade-acmi .trade .promo-headline {
        max-width: 434px;
    }
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .trade .promo-headline {
        max-width:320px
    }
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .promo-image-wrapper {
        margin: 0 auto;
        padding-bottom: 0;
    }
}

.section-trade-acmi .trade .promo-image {
    margin-left: -18px;
}

@media only screen and (max-width: 1240px) {
    .section-trade-acmi .trade .promo-image {
        margin-left: -108px;
    }
}

@media only screen and (max-width: 1068px) {
    .section-trade-acmi .trade .promo-image {
        margin-left: -127px;
    }
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .trade .promo-image {
        margin-top: -20px;
    }
}

.section-trade-acmi .services-subsection.tradein-margin-fix {
    margin-bottom:30px
}

@media only screen and (max-width: 1068px) {
    .section-trade-acmi .services-subsection.tradein-margin-fix {
        margin-bottom:20px
    }
}

@media only screen and (max-width: 734px) {
    .section-trade-acmi .services-subsection.tradein-margin-fix {
        margin-bottom:15px
    }
}

/* images */
.section-essentials .pencil .promo-image {
    background-image: url("/kr/ipad/home/ch/images/overview/apple_pencil__ekq506kmmys2_large.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-essentials .pencil .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pencil__ekq506kmmys2_large_2x.jpg");
    }
}
@media only screen and (max-width: 1068px) {
    .section-essentials .pencil .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pencil__ekq506kmmys2_medium.jpg");
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-essentials .pencil .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pencil__ekq506kmmys2_medium_2x.jpg");
    }
}
@media only screen and (max-width: 734px) {
    .section-essentials .pencil .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pencil__ekq506kmmys2_small.jpg");
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-essentials .pencil .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pencil__ekq506kmmys2_small_2x.jpg");
    }
}

.section-ipad-pro .image-ipad-pro {
    background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_pro_hero__bh3eq6sqfjw2_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .section-ipad-pro .image-ipad-pro {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_pro_hero__bh3eq6sqfjw2_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-ipad-pro .image-ipad-pro {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_pro_hero__bh3eq6sqfjw2_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-ipad-pro .image-ipad-pro {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_pro_hero__bh3eq6sqfjw2_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .section-ipad-pro .image-ipad-pro {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_pro_hero__bh3eq6sqfjw2_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-ipad-pro .image-ipad-pro {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_pro_hero__bh3eq6sqfjw2_small_2x.jpg")
    }
}

.section-essentials .keyboard {
    background-image: url("/kr/ipad/home/ch/images/overview/smart_keyboard_folio__b8j0ydqvjq2q_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .section-essentials .keyboard {
        background-image: url("/kr/ipad/home/ch/images/overview/smart_keyboard_folio__b8j0ydqvjq2q_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-essentials .keyboard {
        background-image: url("/kr/ipad/home/ch/images/overview/smart_keyboard_folio__b8j0ydqvjq2q_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-essentials .keyboard {
        background-image: url("/kr/ipad/home/ch/images/overview/smart_keyboard_folio__b8j0ydqvjq2q_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .section-essentials .keyboard {
        background-image: url("/kr/ipad/home/ch/images/overview/smart_keyboard_folio__b8j0ydqvjq2q_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-essentials .keyboard {
        background-image: url("/kr/ipad/home/ch/images/overview/smart_keyboard_folio__b8j0ydqvjq2q_small_2x.jpg")
    }
}

.section-ipados .whyipad .promo-image {
    background-image: url("/kr/ipad/home/ch/images/overview/why_ipad__fyckwbl8w5u2_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .section-ipados .whyipad .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/why_ipad__fyckwbl8w5u2_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-ipados .whyipad .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/why_ipad__fyckwbl8w5u2_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-ipados .whyipad .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/why_ipad__fyckwbl8w5u2_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .section-ipados .whyipad .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/why_ipad__fyckwbl8w5u2_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-ipados .whyipad .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/why_ipad__fyckwbl8w5u2_small_2x.jpg")
    }
}

.section-buystrip .image-icon-financing {
    background-image: url("/kr/ipad/home/ch/images/overview/icon_financing__ctvbzjuwg02u_large.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen  and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .section-buystrip .image-icon-financing {
        background-image: url("/kr/ipad/home/ch/images/overview/icon_financing__ctvbzjuwg02u_large_2x.png")
    }
}

@media only screen and (max-width: 1068px) {
    .section-buystrip .image-icon-financing {
        background-image: url("/kr/ipad/home/ch/images/overview/icon_financing__ctvbzjuwg02u_medium.png")
    }
}

@media only screen and (max-width: 1068px)  and (-webkit-min-device-pixel-ratio: 1.5), only screen  and (max-width: 1068px)  and (min-resolution: 1.5dppx), only screen  and (max-width: 1068px)  and (min-resolution: 144dpi) {
    .section-buystrip .image-icon-financing {
        background-image: url("/kr/ipad/home/ch/images/overview/icon_financing__ctvbzjuwg02u_medium_2x.png")
    }
}

.section-ipados .ipados-17.full-width {
    background-image: url("/kr/ipad/home/ch/images/overview/ipados17__fbavkgtxnxyu_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .section-ipados .ipados-17.full-width {
        background-image: url("/kr/ipad/home/ch/images/overview/ipados17__fbavkgtxnxyu_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-ipados .ipados-17.full-width {
        background-image: url("/kr/ipad/home/ch/images/overview/ipados17__fbavkgtxnxyu_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-ipados .ipados-17.full-width {
        background-image: url("/kr/ipad/home/ch/images/overview/ipados17__fbavkgtxnxyu_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .section-ipados .ipados-17.full-width {
        background-image: url("/kr/ipad/home/ch/images/overview/ipados17__fbavkgtxnxyu_small.jpg")
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-ipados .ipados-17.full-width {
        background-image: url("/kr/ipad/home/ch/images/overview/ipados17__fbavkgtxnxyu_small_2x.jpg")
    }
}

/* Alt images applyment */
.section-get-more .apple-one .promo-image {
    margin-right: -7%;
    width:409px;
    height: 363px;
    background-size: 409px 363px;
    background-repeat: no-repeat;
    background-image: url("/kr/ipad/home/ch/images/overview/apple_one/bundle__ftof8h1r4jiy_large.jpg")
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .section-get-more .apple-one .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_one/bundle__ftof8h1r4jiy_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-get-more .apple-one .promo-image {
        width: 253px;
        height: 225px;
        background-size: 253px 225px;
        background-repeat: no-repeat;
        background-image: url("/kr/ipad/home/ch/images/overview/apple_one/bundle__ftof8h1r4jiy_medium.jpg")
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-get-more .apple-one .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_one/bundle__ftof8h1r4jiy_medium_2x.jpg")
    }
}

@media only screen and (max-width: 734px) {
    .section-get-more .apple-one .promo-image {
        width: 205px;
        height: 182px;
        background-size: 205px 182px;
        background-repeat: no-repeat;
        background-image: url("/kr/ipad/home/ch/images/overview/apple_one/bundle__ftof8h1r4jiy_small.jpg");
        margin-left: -86.5px;
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-get-more .apple-one .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_one/bundle__ftof8h1r4jiy_small_2x.jpg")
    }
}

.section-ipados .icloud .promo-image {
    background-image: url("/kr/ipad/home/ch/images/overview/icloud__czqjzr040qc2_large.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-ipados .icloud .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/icloud__czqjzr040qc2_large_2x.jpg");
    }
}
@media only screen and (max-width: 1068px) {
    .section-ipados .icloud .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/icloud__czqjzr040qc2_medium.jpg");
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-ipados .icloud .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/icloud__czqjzr040qc2_medium_2x.jpg");
    }
}
@media only screen and (max-width: 734px) {
    .section-ipados .icloud .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/icloud__czqjzr040qc2_small.jpg");
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-ipados .icloud .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/icloud__czqjzr040qc2_small_2x.jpg");
    }
}

.section-ipados .applepay .promo-image {
    background-image: url("/kr/ipad/home/ch/images/overview/apple_pay__u03k08osmwy2_large.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-ipados .applepay .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pay__u03k08osmwy2_large_2x.jpg");
    }
}
@media only screen and (max-width: 1068px) {
    .section-ipados .applepay .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pay__u03k08osmwy2_medium.jpg");
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-ipados .applepay .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pay__u03k08osmwy2_medium_2x.jpg");
    }
}
@media only screen and (max-width: 734px) {
    .section-ipados .applepay .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pay__u03k08osmwy2_small.jpg");
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-ipados .applepay .promo-image {
        background-image: url("/kr/ipad/home/ch/images/overview/apple_pay__u03k08osmwy2_small_2x.jpg");
    }
}

/* tile vertical align */
.promo-section .typography-promo-headline {
    line-height: 1.08349;
}
@media only screen and (max-width: 1068px) {
    .promo-section .typography-promo-headline {
        line-height: 1.125;
    }
}
@media only screen and (max-width: 1068px) {
    .section-ipados .applepay .promo-headline {
        margin-top: 5px;
    }
}

/* tv api image */
.apple-tv-plus-router.fallback {
    background-image: url("/kr/ipad/home/ch/images/overview/router_river/apple_tv_plus_river__fz3g2jn3adyu_large.jpg");
    background-size: 675px 600px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .apple-tv-plus-router.fallback {
        background-image: url("/kr/ipad/home/ch/images/overview/router_river/apple_tv_plus_river__fz3g2jn3adyu_large_2x.jpg");
    }
}
@media only screen and (max-width: 1068px) {
    .apple-tv-plus-router.fallback {
        background-image: url("/kr/ipad/home/ch/images/overview/router_river/apple_tv_plus_river__fz3g2jn3adyu_medium.jpg");
        background-size: 358px 450px;
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .apple-tv-plus-router.fallback {
        background-image: url("/kr/ipad/home/ch/images/overview/router_river/apple_tv_plus_river__fz3g2jn3adyu_medium_2x.jpg");
    }
}
@media only screen and (max-width: 734px) {
    .apple-tv-plus-router.fallback {
        background-image: url("/kr/ipad/home/ch/images/overview/router_river/apple_tv_plus_river__fz3g2jn3adyu_small.jpg");
        background-size: contain;
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .apple-tv-plus-router.fallback {
        background-image: url("/kr/ipad/home/ch/images/overview/router_river/apple_tv_plus_river__fz3g2jn3adyu_small_2x.jpg");
    }
}

/* ipad 10th gen screen */
.section-ipad-10-9 .image-ipad-10-9 {
    background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_hero__d0tgmaq6shm6_large.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-ipad-10-9 .image-ipad-10-9 {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_hero__d0tgmaq6shm6_large_2x.jpg");
    }
}
@media only screen and (max-width: 1068px) {
    .section-ipad-10-9 .image-ipad-10-9 {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_hero__d0tgmaq6shm6_medium.jpg");
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-ipad-10-9 .image-ipad-10-9 {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_hero__d0tgmaq6shm6_medium_2x.jpg");
    }
}
@media only screen and (max-width: 734px) {
    .section-ipad-10-9 .image-ipad-10-9 {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_hero__d0tgmaq6shm6_small.jpg");
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-ipad-10-9 .image-ipad-10-9 {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/ipad_hero__d0tgmaq6shm6_small_2x.jpg");
    }
}

/* final cut pro logic pro section left image */
.section-ipados .final-cut .image-fcp-ipad-hero {
    background-image: url("/kr/ipad/home/ch/images/overview/hero/fcp_ipad_hero__e663fdl2htea_large.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    .section-ipados .final-cut .image-fcp-ipad-hero {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/fcp_ipad_hero__e663fdl2htea_large_2x.png");
    }
}
@media only screen and (max-width: 1068px) {
    .section-ipados .final-cut .image-fcp-ipad-hero {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/fcp_ipad_hero__e663fdl2htea_medium.png");
    }
}
@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-ipados .final-cut .image-fcp-ipad-hero {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/fcp_ipad_hero__e663fdl2htea_medium_2x.png");
    }
}
@media only screen and (max-width: 734px) {
    .section-ipados .final-cut .image-fcp-ipad-hero {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/fcp_ipad_hero__e663fdl2htea_small.png");
    }
}
@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .section-ipados .final-cut .image-fcp-ipad-hero {
        background-image: url("/kr/ipad/home/ch/images/overview/hero/fcp_ipad_hero__e663fdl2htea_small_2x.png");
    }
}