*{
    text-align: center;
}

html{
    background-color: #b9e2ea;
    font-size: 16px;
}

body{
    /*블록 형성 width크기 640px로 제한
    가로로 웹 페이지를 늘리면 body 내용이 거기에 따라 가는 것이 아니라 640px까지만 움직임
    */
    width: 800px;
    /* width 고정할 경우 가운데 정렬이 또 안됨 따라서 아래 코드를 이용 */
    margin: auto; /* 너비에서 남는 여백을 동일하게 분배
    오른쪽에 치우쳐진 큰 바깥 쪽 여백을 양쪽으로 나눔(가운데 정렬 효과)*/
}

h1{
    font-size: 48px;
    font-family: 'Single Day', monospace;
}
h2{
    font-size: 38px;
    font-family: 'Gamja Flower', monospace;
}
p{
    font-size: 1.5rem;
}
#jebbi{
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
#jerry, #bbibbi{
    width:200px;
    height: 200px;
    border-radius: 100px;
    border: 5px dotted rgb(128, 128, 221);
}

#jerry_like, #jerry_characteristic, #bbibbi_like, #bbibbi_characteristic{
    width: 300px;
    font-size: 18px;
}

#jerry_introduce{
    float: left;
}
#bbibbi_introduce{
    float: right;
}