.container{
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
}
.title>h2{
  height: 30%;
  margin: 0;
}
.cal_container{
  width: 320px;
  height: 260px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 30px;
}
.cal{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 250px;  
}
.cal_container{
  background-color: skyblue;
  border-radius: 10px;
}
.cal_container>div{
  margin: 10px;
}
table{
  border-spacing: 2px 10px;
}
.result{
  width: 290px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}

td>button{
  width: 70px;
  height: 35px;
  border-radius: 5px;
  border: none;
}